body{
    background-color: black;
}
#nome{
    color: royalblue;
}
.habilidades{
    color: chocolate;
}
.lista{
    color: chocolate;
}
.contato{
    color: chocolate;
}
.redes{
    color: chocolate;
}


