a{
    padding-right: 78px;
    
}
.globe{
    
    color: blue;
    text-align: center;
    justify-items: center;
    
}
.g1{
    color: red;
}
.o globe{
    color: blue;
}
.valor{
    color: darkgreen;
}
.gi{
    color: greenyellow;
}
.cartola{
    color: orangered;
}
.globeplay{
    color: red;
}
.gshow{
    color: orangered;
}
.quem{
    color: black;
}
.receitas{
    color: purple;
}
.gigaglobe{
    color: greenyellow;
}
p{
    color: red;
    font-size: xx-large;
}
table{
    padding-top: 20%;
}
.ggg{
    border-radius: 15%;
}
.rick{
    border-radius: 15%;
}